Generate Random Dates

The dataset of tweets we are using in the example is downloaded from https://www.kaggle.com/edqian/twitter-climate-change-sentiment-dataset 
The tweets do not contain the date they were posted date.
To showcase how the development of interest in topics over time can be analyzed with the reflexive ML toolbox, we generate a random date for each tweet and save the dataset back to a csv-file.

In [1]:
import datetime
import random
def getRandomDate():
    start_date = datetime.date(2019, 1, 1)
    end_date = datetime.date(2021, 1, 1)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    return random_date

In [4]:
import pandas as pd
data = pd.read_csv("twitter_sentiment_data.csv", encoding="utf-8")

In [6]:
data['publishedAt'] =''
data['publishedAt'] = data['publishedAt'].apply(lambda x: getRandomDate())

In [7]:
data.head()

,sentiment,message,tweetid,publishedAt
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840,2019-10-20
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641,2019-12-27
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256,2019-08-13
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904,2019-08-09
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153,2020-05-12

In [8]:
data.to_csv('twitter_sentiment_data_dates.csv')